*{
    margin:0;
    padding:0;
}

*,
*::before,
*::after{
    box-sizing:border-box;
}

body{
    background-color: white;
}

input{
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

#input-form button{
    border-radius: 20px;
    padding: 10px;
    border-width: 1px;
}

.container{
    height:100vh;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-around;
    position: relative;
    overflow:hidden;
}

/* emoji styling */
.emoji{
    all: unset;
    font-size: 200px;
    cursor:pointer;
    position: absolute;
}

.emoji:hover{
    transform: scale(1.05);
}

/* particle animation */
.particle{
    position:absolute;
    font-size: 20px;
    
}

.fall{
    animation: fall 7s ease-in forwards;
}

.spit{
    animation: spit 2s ease-out forwards;
}
@keyframes spit{
    0%{

    }
    100%{
        transform: translate(var(--translate-x, 10vw),-55vh) rotate(90deg);
    }
}

@keyframes fall{
    0%{
        /* set inital location to random location */
        top:0;
        left:var(--initial-x, 5vw);
    }

    100%{


        transform: translate(var(--translate-x, 10vw),200vh) rotate(180deg);
    }
}


.timer{
    font-size:30px;
    font-family: "TikTok Sans";
    font-weight: 450;
}

.record{
    position:absolute;
    font-family: "TikTok Sans";
    font-size: 40px;
    font-weight: 500;
}
